<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button text="Volver"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-card-header>
      <ion-card-subtitle>Conductor</ion-card-subtitle>
      <ion-card-title>Registro de usuario</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <form #formulario="ngForm" (ngSubmit) ="onSubmit()">

        <ion-label>Nombre: </ion-label>
        <ion-item class="nombre">
          <ion-input type="text" placeholder="Nombre"
                     name="nombre" [(ngModel)]= "user.name" required>
          </ion-input>
        </ion-item>
        <ion-label>Email: </ion-label>
        <ion-item class="nombre">
          <ion-input type="email" placeholder="Email"
                     name="email" value="" [(ngModel)]= "user.email"
                     pattern="^([a-zA-Z0-9_\-\.]+)@([a-zA-Z0-9_\-\.]+)\.([a-zA-Z]{2,5})$"
                     required>
          </ion-input>
        </ion-item>
        <ion-label>Password: </ion-label>
        <ion-item class="nombre">
          <ion-input type="password" placeholder="Contraseña"
                     name="password" value="" [(ngModel)]= "user.password"
                     required>
          </ion-input>
        </ion-item>

        <ion-label>Repetir Password: </ion-label>
        <ion-item class="nombre">
          <ion-input type="password" placeholder="Reingrese la Contraseña"
                    pattern="/^(?=.*[a-z])(?=.*[A-Z])(?=.*\d)(?=.*[$@$!%*?&])([A-Za-z\d$@$!%*?&]|[^ ]){8,15}$/"
                     required>
          </ion-input>
        </ion-item>

        <ion-button [disabled] ="formulario.invalid"
                type="submit" expand="block" routerLink="../home" style="margin-top: 10%;">
          Registrar Conductor
        </ion-button>
    
      </form>
    </ion-card-content>
  </ion-card>
</ion-content>
