<ion-header>
  <ion-toolbar>
      <ion-buttons slot="start">
          <ion-menu-button auto-hide="false"></ion-menu-button>
        </ion-buttons>
    <ion-title>Home</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
<ion-list class="contenido">
  <ion-item class="contenido"s>
    <ion-label>Bienvenido!</ion-label>
  </ion-item>

  <ion-item class="contenido">
      <ion-card class="contenido">
        <ion-card-header>
          <ion-card-subtitle>Nueva app de transporte DuocUC</ion-card-subtitle>
          <ion-card-title>PickUp APP</ion-card-title>
        </ion-card-header>
        <ion-card-content>
          <img src="assets\duocuc.jpg" alt=""> 
        </ion-card-content>
      </ion-card>
  </ion-item>
</ion-list>
</ion-content>

