<ion-header>
  <ion-toolbar>
      <ion-buttons slot="start">
          <ion-menu-button auto-hide="false"></ion-menu-button>
        </ion-buttons>
    <ion-title>Tarifa</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
    <ion-list style="margin: 10%;">
      <ion-label for="Tarifa" slot="start">Tarifa</ion-label>
      <ion-item>
        <ion-input id="Tarifa" text="{{tarifa}}" type="number" placeholder="Ingrese Tarifa" [(ngModel)]="myVal" (change)="refresh()"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label>{{myVal1}}</ion-label>
      </ion-item>
      <ion-item>
        <button slot="end" type="submit" ion-button full color="dark" routerLink="/center">Guardar</button>
      </ion-item>
    </ion-list>

  
</ion-content>